:host {         
    display: block;
    width: 100%;      
}

.playerListBody {
    margin-left: 3px;
    margin-right: 3px;
}

.btn-primary {
    color: white;
}

.navButton {
    width: 27%;
    margin-left: 3%;
    margin-right: 3%;
}

.topButton{
    width: 100%;
}

.navLink{
    width: 100%;
}
