<div class="row">
    <div class="col-xs-12 card-container">
        <mat-card class="user-card">
             <mat-card-header class="matHeader">
                 <div mat-card-avatar class="user-header-image"  [ngStyle]="getUserImage()"></div>
                 <mat-card-title><span class="helloTxt">Hello {{playerProfile.name}}</span></mat-card-title>
                                 
                 <mat-card-subtitle>
                    <div class="subText">
                     Current Balance: <span class="balanceTxt">€{{playerProfile.balance}}</span>
                     </div>
                </mat-card-subtitle>
             </mat-card-header>
             <div class="buttonContainer">
                <app-player-image-upload [playerProfile]="playerProfile"></app-player-image-upload>
             </div>
             <mat-card-content class="card-body"> 
                 <div *ngIf="currentRace" class="card-content-container">
                     <h5>Current Race: <strong>Race  {{currentRace.number}}</strong></h5>
                     <h6 class="startTxt">(Starting at: <strong>  {{currentRace.time}}</strong>)</h6>
                     <h5>Win Pot: <strong>€{{getWinPot()}}</strong></h5>
                     <h6 [hidden]="!currentRace.showPayoutFactor">(Tote Returns : <strong> {{ getPoolPayoutFactor()}}%)</strong></h6>
                     <h5>Betting Status: <span [ngStyle]="getGameStatusStyle(currentRace.isActive)">{{currentRace.isActive ? 'Active' : 'Suspended' }}</span></h5>
                 </div>
                </mat-card-content>
         </mat-card>
    </div>
</div>