<div class="row">
    <div class="col-xs-12 card-container">
        <mat-card class="user-card">
             <mat-card-header class="matHeader">
                 <div mat-card-avatar class="user-header-image"  [ngStyle]="getUserImage()"></div>
                 <mat-card-title><span class="helloTxt">Hello {{user.name}}</span></mat-card-title>
                 <mat-card-subtitle>
                    <div class="subText">
                     Current Balance: <span class="balanceTxt">€{{user.balance}}</span>
                     </div>
                </mat-card-subtitle>
             </mat-card-header>
             <mat-card-content> 
                 <div *ngIf="currentRace" class="card-content-container">
                     <h5>Current Race: <strong>Race  {{currentRace.number}}</strong></h5>
                     <h6 class="startTxt">(Starting at: <strong>  {{currentRace.time}}</strong>)</h6>
                     <h5>Win Pot: <strong>€{{getWinPot()}}</strong></h5>
                     <h6 [hidden]="!currentRace.showPayoutFactor">(Tote Returns : <strong> {{ getPoolPayoutFactor()}}%)</strong></h6>
                     <h5>Betting Status: <span [ngStyle]="getGameStatusStyle(currentRace.isActive)">{{currentRace.isActive ? 'Active' : 'Suspended' }}</span></h5>
                 </div>
                </mat-card-content>
         </mat-card>
    </div>
</div>

<!--div *ngIf="!currentRace && !nextRouletteGameInfo" class="card-content-container">
    <h3 [style.color]="'blue'">{{eventInfo.name}}</h3>
    <img class="racecard-image" [src]="getEventStartCardImage()"/>
    <br/>
    <br/>
    <h5 [style.color]="'darkred'">Make sure you top up your account with your moderator</h5>
    <img class="racecard-image" src="/assets/images/wallet.gif"/>
    <br/>
    <br/>
    <h4 [style.color]="'darkgreen'">Have Some Fun!!</h4>
    <img class="racecard-image" src="/assets/images/runner.gif"/>
    <br/>
    <br/>
</div-->

<mat-tab-group *ngIf="currentRace">
    <mat-tab *ngIf="currentRace" label="Bet">
        <app-bet-page [currentRace]="currentRace" [user]="user" [event]="event"></app-bet-page>
    </mat-tab>
    <!-- <mat-tab *ngIf="currentRace" label="History">
        <br/>
        <h2> Top Ups </h2>
        <table class="table hoverTable">
            <thead>
                <tr>
                    <th scope="col">User Name</th>
                    <th scope="col">User ID</th>
                    <th scope="col">Date</th>
                    <th scope="col">Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let payment of user.payments;">
                    <td>{{user.name}}</td>
                    <td>{{user.userId}}</td>
                    <td>{{payment.date}}</td>
                    <td [ngStyle]="{color: 'green'}">€{{payment.amount}}</td>
                </tr>
            </tbody>
        </table>
        <br/>
        <h2> Bets </h2>
        <table class="table hoverTable">
            <thead>
                <tr>
                    <th scope="col">Race Number</th>
                    <th scope="col">Horse Name</th>
                    <th scope="col">Horse Number</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Result</th>
                    <th scope="col">SP</th>
                    <th scope="col">Return</th>
                    <th scope="col">Payment</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bet of sortBetByRace(userBetsList);" [ngStyle]="getBetColor(bet)">
                    <td>{{bet.raceNumber}}</td>
                    <td>{{bet.horseName}}</td>
                    <td>{{bet.horseNumber}}</td>
                    <td>€{{bet.stake}}</td>
                    <td>{{bet.result}}</td>
                    <td>{{bet.finalOdds}}</td>
                    <td>€{{bet.payout}}</td>
                    <td>{{bet.paymentStatus}}</td>
                </tr>
            </tbody>
        </table>
    </mat-tab>
    <mat-tab *ngIf="currentRace" label="Card">
            <br/>
            <h2>{{getRaceCardTitle()}}</h2>
        <img class="racecard-image" [src]="getRaceCardImage()"/>
    </mat-tab>
    <mat-tab *ngIf="currentRace" label="Results">
        <br/>
        <h2>Race Results</h2>
        <app-results-video [eventInfo]="eventInfo"></app-results-video>
    </mat-tab> -->
</mat-tab-group>
