<div>
    <h3 class="mb-2">Event Admin Page</h3>
    <app-create-event></app-create-event>
    <br/>

    <h4>Existing Events </h4>
    <table class="table hoverTable">
        <thead>
            <tr>
                <th scope="col">Event Name</th>
                <th scope="col">Event Id</th>
                <th scope="col">Event Date</th>
                <th scope="col">Event Organiser</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let event of events;" (click)="navigateToEvent(event.id)">
                <td>{{event.name}}</td>
                <td>{{event.id}}</td>   
                <td>{{event.date}}</td>
                <td>{{event.organiser}}</td>
            </tr>
        </tbody>
    </table>
</div>
