
.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
}
.dark-modal .close {
    color: white;
}
.light-blue-backdrop {
    background-color: #5cb3fd;
}

.betForm{
    text-align: center;
}

.runningGif{
    height: 60px;
}
.finishedImage{
    height: 40px;
}

.finishedText{
    color: green;
    font-weight: bold;
    font-family: sans-serif;
    font-style: italic;
}