:host {         
    display: block;
    width: 100%;  
    text-align: center;    
}
.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
}
.dark-modal .close {
    color: white;
}
.light-blue-backdrop {
    background-color: #5cb3fd;
}

.raceForm{
    text-align: center;
}

.horse-input-name {
    width: 180px;
 } 

.horse-input-number {
   width: 80px;
} 

@media screen and (max-width: 1100px) {

    .horse-input-name {
        width: 120px;
     } 
    .modal-content {
        width: 94%;
    }
}

.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }