<div>
    <a class="btn btn-primary" data-toggle="modal" data-target="#createUserForm">Add Player</a>
</div>

<div class="modal fade" id="createPlayerForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Add Player to Stake Night</h4>
        <button type="button" id="closeCreateUserFormButton" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <form [formGroup]="form" class="playerForm">
            <div>
                <mat-form-field [style.width.px]="256">
                    <mat-label><span>Name</span></mat-label>
                    <input matInput type="string" formControlName="name">
                </mat-form-field>
            </div>
          
            <div>
                <mat-form-field [style.width.px]="256">
                    <mat-label><span>User avator url</span></mat-label>
                    <input matInput type="string" formControlName="avatorUrl">
                </mat-form-field>
            </div>
          
            <div>
                <mat-form-field [style.width.px]="256">
                    <mat-label><span>User Balance</span></mat-label>
                    <input matInput type="float" formControlName="balance">
                </mat-form-field>
            </div>
          
          
            <div class="buttonbar">
                <button mat-raised-button color="primary" (click)="createPlayer()">Create Player Profile</button>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>
