<button class="btn btn-primary" (click)="createRaceModal(raceModalContent)">Create Race</button>

<ng-template #raceModalContent let-modal>
    <div class="modal-dialog-container" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
              <h3 class="modal-title w-100 font-weight-bold">Add Race</h3>
              <button type="button" id="closeUpdateRaceFormButton"  class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body mx-3">
                <form [formGroup]="raceForm" class="raceForm">
                    <div>
                        <mat-form-field [style.width.px]="256">
                            <mat-label data-error="wrong" data-success="right" for="name"><span>Race Name</span></mat-label>
                            <input matInput formControlName="name" name="name" type="textbox" id="name" class="form-control validate" required >
                        </mat-form-field>
                        <mat-form-field [style.width.px]="256">
                            <mat-label data-error="wrong" data-success="right" for="number"><span>Race Number</span></mat-label>
                            <input matInput formControlName="number" name="number" type="number" id="number" class="form-control validate" required >
                        </mat-form-field>
                        <mat-form-field [style.width.px]="256">
                            <mat-label data-error="wrong" data-success="right" for="raceCardImageUrl"><span>Race Card Image URL</span></mat-label>
                            <input matInput formControlName="raceCardImageUrl" name="raceCardImageUrl" type="textbox" id="raceCardImageUrl" class="form-control validate" required >
                        </mat-form-field>
                        <mat-form-field [style.width.px]="256">
                            <mat-label data-error="wrong" data-success="right" for="payoutFactor"><span>Payout Factor (between 0 and 1)</span></mat-label>
                            <input matInput formControlName="payoutFactor" name="payoutFactor" type="number" id="payoutFactor" class="form-control validate" required >
                        </mat-form-field>
                        <mat-form-field [style.width.px]="256">
                            <mat-label data-error="wrong" data-success="right" for="time"><span>Race Time</span></mat-label>
                            <input matInput formControlName="time" name="time" type="textbox" id="time" class="form-control validate" required >
                        </mat-form-field>
                    </div>

                    <h3 class="modal-title w-100 font-weight-bold">Horses</h3>
                    <br/>
                    <div formArrayName="horses"  *ngFor="let horse of raceForm.get('horses')['controls']; let i=index">
                        Horse {{i+1}}
                        <div [formGroupName]="i">
                            <mat-form-field class="horse-input-name mr-4">
                                <mat-label data-error="wrong" data-success="right" for="name"><span>Name</span></mat-label>
                                <input matInput formControlName="name"  name="name" type="textbox" id="name" class="form-control validate" required >
                            </mat-form-field>
                            <mat-form-field class="horse-input-number mr-4">
                                <mat-label data-error="wrong" data-success="right" for="number"><span>Number</span></mat-label>
                                <input matInput  formControlName="number" name="number" type="number" id="number" class="form-control validate" required >
                            </mat-form-field>
                            <button type="button" (click)="removeHorse(i)" class="horseInput btn btn-danger">X</button>
                        </div>
                    </div>
            
                    <div class="row">
                        <button type="button" (click)="addHorse()" class="btn btn-primary offset-md-3 col-md-6">Add Horse</button>
                    </div>

                    <div class="buttonbar">
                        <button mat-raised-button color="primary" (click)="addRace();">Add Race</button>
                    </div>
                </form>
             
              <div [hidden]="!duplicateHorseError" class="alert alert-error box-msg warningText" role="alert">
                  <strong>Sorry!</strong> Duplicate Horse Numbers are not allowed
              </div>
            </div>
          
          </div>
        
    </div>
  </ng-template>
