<div class="mt-2 mb 5 text-center">
    <button class="btn btn-primary" (click)="openRegisterModal(content)">Register For An Event</button>
</div>

<ng-template #content let-modal>
    <div class="modal-dialog-container" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <div class="modal-title w-100 font-weight-bold">
                <h3>Register For Event</h3>
            </div>
            <button type="button" id="closeRegisterFormButton"  class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="mt-3 modal-subtitle text-center">
              <div *ngIf="selectedEvent" class="mx-5">
                <mat-card class="event-card">
                    <mat-card-content class="card-body"> 
                        <h6><strong>EVENT INFO</strong></h6>
                        <h6>Name: {{selectedEvent.name}}</h6>  
                        <h6>Date: {{selectedEvent.date}}</h6>
                        <h6>Organiser: {{selectedEvent.organiser}}</h6>
                    </mat-card-content>
                </mat-card>
              </div>
          </div>
          <div class="modal-body mx-3">
            <form [formGroup]="eventRegisterForm" class="eventRegisterForm" (ngSubmit)="registerForEvent()">
                <div>
                    <mat-form-field [style.width.px]="256">
                        <mat-label data-error="wrong" data-success="right" for="eventId"><span>Enter Event Id</span></mat-label>
                        <input matInput formControlName="eventId" name="eventId" type="textbox" id="eventId" (blur)="setSelectedEvent()" placeholder="racenight" class="form-control validate" required>
                    </mat-form-field>
                    <div [hidden]="!eventNotFoundError" class="alert alert-error box-msg warningText" role="alert">
                        <strong>Sorry!</strong> Event not Found
                    </div>
                    <mat-form-field [style.width.px]="256">
                        <mat-label data-error="wrong" data-success="right" for="name"><span>Player Name (display only)</span></mat-label>
                        <input matInput formControlName="name" name="name" type="textbox" id="name" class="form-control validate" required>
                    </mat-form-field>
                    <!-- <mat-form-field [style.width.px]="256">
                        <mat-label data-error="wrong" data-success="right" for="avatorUrl"><span>Avator URL</span></mat-label>
                        <input matInput formControlName="avatorUrl" name="avatorUrl" type="textbox" id="avatorUrl" class="form-control validate">
                    </mat-form-field> -->
                    <div [hidden]="!profileExistsError" class="alert alert-error box-msg warningText" role="alert">
                        <strong>Sorry!</strong> You have already registered for this event
                    </div>
                </div>
                <div class="button-container">
                    <button class="register-button"  type="submit" mat-raised-button color="primary">Register for Event</button>
                </div>
            </form>
            
         </div>
        
        </div>
      </div>
  </ng-template>

