<div class="userListBody">
      <br/>
      <h3>Available Punters</h3>
    
      <table class="table hoverTable">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Balance</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users; let i = index;">
          <td (click)="navigateToUser(user.id)">{{i+1}}</td>
          <td (click)="navigateToUser(user.id)">{{user.name}}</td>
          <td (click)="navigateToUser(user.id)">{{user.balance}}</td>
          <td><button (click)="topUpUser(user)" data-toggle="modal" data-target="#topUpUserForm"  class="btn btn-primary">Add Funds</button></td>
        </tr>
        </tbody>
      </table>
  </div>
  
  <app-create-user></app-create-user>
    