<app-player-profile [currentRace]="currentRace" [playerProfile]="playerProfile" [totalBetValue]="totalBetValue"></app-player-profile>

<mat-tab-group *ngIf="currentRace">
    <mat-tab label="Bet">
        <app-bet-page [currentRace]="currentRace" [playerProfile]="playerProfile" [event]="event"></app-bet-page>
    </mat-tab>
    <mat-tab label="Transactions">
        <app-transactions [currentRace]="currentRace" [playerProfile]="playerProfile" [event]="event"></app-transactions>
    </mat-tab>
    <mat-tab label="RaceCard">
        <app-race-card [currentRace]="currentRace"></app-race-card>
    </mat-tab>
    <mat-tab label="Results">
        <app-race-results [event]="event"></app-race-results>
    </mat-tab>
</mat-tab-group>

<div *ngIf="pageInitialized && !currentRace" class="card-content-container">
    <h3 [style.color]="'blue'">{{event.name}}</h3>
    <img class="racecard-image" [src]="getEventStartCardImage()"/>
    <br/>
    <br/>
    <h5 [style.color]="'darkred'">Make sure you top up your account with your moderator</h5>
    <img class="racecard-image" src="/assets/images/wallet.gif"/>
    <br/>
    <br/>
    <h4 [style.color]="'darkgreen'">Have Some Fun!!</h4>
    <img class="racecard-image" src="/assets/images/runner.gif"/>
    <br/>
    <br/>
</div>
